{% extends 'base_layout.html' %}

{% block content %}
<form class="site-form has-background-light" method="post">
    {% if not valid_user %}
    <div class="notification is-warning">
        <div class="title is-5 has-text-black has-text-centered">
            Проверьте правильность введенных данных!
        </div>
    </div>
    {% endif %}
    <div class="title is-2 has-text-centered has-text-black">
        Вход
    </div>
    {% csrf_token %}

    {% for field in form %}
    <div class="field">
        <label for="{{ field.id_for_label }}" class="label">
            {{ field.label }}
        </label>
        <div class="control">
            {{ field }}
        </div>
        {% if form.errors %}
        {% for error in field.errors %}
        <p class="content has-text-danger">
            {{error}}
        </p>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="button is-success is-fullwidth my-3">
        Войти
    </button>
    <div class="content has-text-centered">
        <div class="subtitle has-text-black is-4">Нет аккаунта?</div>
        <a class="button is-ghost is-info" href="{% url 'users:register' %}">
            Перейти на страницу регистрации -->
        </a>
    </div>
</form>
{% endblock %}