{% extends 'base_layout.html' %}

{% block content %}
<form class="site-form has-background-light" method="post">
    <div class="title is-2 has-text-centered has-text-black">
        Регистрация
    </div>
    {% csrf_token %}
    {% for field in form %}
    <div class="field">
        <label for="{{ field.id_for_label }}" class="label">
            {{ field.label }}
        </label>
        <div class="control">
            {{ field }}
        </div>
        {% if form.errors %}
        {% for error in field.errors %}
        <p class="content has-text-danger">
            {{error}}
        </p>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="button is-success is-fullwidth">
        Зарегистрироваться
    </button>
    <div class="content has-text-centered">
        <div class="subtitle has-text-black is-4">Уже есть аккаунт?</div>
        <a class="button is-ghost is-info" href="{% url 'users:log_in' %}">
            Перейти на страницу входа -->
        </a>
    </div>
</form>
{% endblock %}