{% load static from static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bulma.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <section class="hero is-primary is-fullheight">
        {% if user.is_authenticated %}
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{% url 'blog:home' %}">
                            <img src="https://msk.top-academy.ru/dist/images/logo/step_logo_rus.svg" alt="Logo">
                        </a>
                        <span class="navbar-burger" data-target="navbarMenuHeroA">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-start">
                            <span class="navbar-item">
                                <a href="{% url 'blog:create' %}" class="button is-info is-outlined is-inverted">
                                    <span class="mr-2">
                                        <ion-icon name="book-outline"></ion-icon>
                                    </span>
                                    <span class="content">Создать пост</span>
                                </a>
                            </span>
                        </div>
                        <!-- показать все посты этого автора -->
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <div class="dropdown is-hoverable">
                                    <div class="dropdown-trigger">
                                        <a class="button is-info">
                                            Добро пожаловать, {{ request.user|title }}
                                        </a>
                                    </div>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-content">
                                            {% if request.path == '/blog/home/' %}

                                            {% if user.post_set.all %}
                                            <span class="dropdown-item">
                                                <a href="{% url 'blog:home' %}?my_posts=True">
                                                    Мои посты
                                                </a>
                                            </span>
                                            {% endif %}

                                            {% if user.saved_posts.all %}
                                            <span class="dropdown-item">
                                                <a href="{% url 'blog:home' %}?saved=True">
                                                    Сохраненные
                                                </a>
                                            </span>
                                            {% endif %}
                                            
                                            {% if user.likes.all %}
                                            <a href="{% url 'blog:home' %}?favorites=True" class="dropdown-item">
                                                Избранное
                                            </a>
                                            {% endif %}

                                            <a href="{% url 'blog:home' %}?popular=True" class="dropdown-item">
                                                Популярные посты
                                            </a>
                                            <a href="{% url 'blog:home' %}?new=True" class="dropdown-item">
                                                Новые посты
                                            </a>
                                            {% endif %}
                                            <hr class="dropdown-divider">
                                            <span class="dropdown-item">
                                                <a href="{% url 'users:log_out' %}" class="has-text-danger">
                                                    Выйти
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </span>

                            {% if request.path == '/blog/home/' %}
                            <span class="navbar-item">
                                <form method="get" class="mt-4">
                                    <div class="field has-addons">
                                        <div class="control">
                                            <input type="search" class="input" name="search">
                                        </div>
                                        <div class="control">
                                            <button class="button" type="submit">
                                                <ion-icon name="search-outline"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </span>
                            {% endif %}



                        </div>
                    </div>
                </div>
            </nav>
        </div>
        {% endif %}

        <div class="hero-body">
            {% block content %}

            {% endblock %}
        </div>
    </section>
</body>

</html>