{% extends 'base_layout.html' %}
{% load static from static %}

{% block content %}
<form method="post" class="site-form has-background-light">
    {% csrf_token %}
    <p class="title has-text-centered is-4 mb-5 has-text-black">
        Подтвердите удаление комментария
    </p>
    <div class="has-text-centered">
        <button class="button is-danger">Подтвердить</button>
        <a class="button is-warning" href="{% url 'blog:post' post.slug %}">
            Назад к посту
        </a>
    </div>
</form>
{% endblock %}